

.hero__section {
    background: var(--hero-bg);
}

.hero__section p {
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0px;
}

.hero__content {
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 20px;
    height: 350px;
}


.RecommendedProducts {
    justify-content: center;
    font-size: 25px;
    height: 30px;
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    border:10px #022032;
}
.RecommendedList {
    max-width: 1300px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}