.column {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    max-height: 200px;
}

container {
    height: 105%;
}

.container__hover {
    max-height: 160px;
    object-fit: cover;
    border-radius: 25px;
}

.container__image {
    max-height: 160px;
    object-fit: cover;
    border-radius: 25px;
    transition: .5s;
}

.container__image:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #043858;
    height: 101%;
    width: 101%;
  }

